body {
    font-family: playfair display;
    margin: 0;
    background-color: #f6a4df;
    color: #333;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    color: #555;
}

p {
    font-size: 18px;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.button:hover {
    background-color: #555;
}
#about {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    background-color:#f599d9;
    font: playfair display;
}
#about h2 {
    text-align: center;
    font-size: 32px;
}
#about h3 {
    margin-top: 25px;
    
}
#about p {
    line-height: 1.6;
}
#about li {
    margin: 8px 0;
}
#skills {
    padding: 50px 20px;
    text-align: center;
}

#skills h2 {
    font-size: 32px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    width: 220px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(248, 194, 224);
}

.skill-card h3 {
    font-size: 24px;
}

.skill-card p {
    font-size: 16px;
    line-height: 1.5;
}